body {
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/00/11/ac/0011ace89f00fedf690e6769290f21e3.gif); 
  background-repeat: no-repeat;  
  background-size: cover;        
  background-attachment: fixed; 
  background-position: center;  
}
.header {
  background-color:  rgb(255,153,153)
;               
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
  display: flex;             
  justify-content: space-between; 
  align-items: center;       
  padding: 15px;
 
}
.head {
  background-color: rgb(255,153,153)
;
  border: 2px outset rgb(234, 140, 140);     
  margin-left: 100px; 
  margin-right: 100px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
}

.headering {
    font-size: 20px;
      font-weight: bold;
      color: white;
   text-align: left;  
  margin-top: 10px;       
  padding-bottom: 450px;    
  text-shadow: black ;
}
.h2 {
 color: black;
 position: absolute;
  top: 1000px;    
  width: 1260px;
  left: 150px;
  word-spacing: 5px;
}
.h3 {
    color: black;
 position: absolute;
  top: 1250px;    
  width: 1260px;
left: 150px;
word-spacing: 5px;
}
.paragraph2 {
   color: black;
 position: absolute;
  top: 200px;    
  width: 1260px;
  left: 15px;
  word-spacing: 5px;
}
/*PROFILE*/
.div1 {
  background-color: lightyellow;  
  border: 2px solid palevioletred;                 
  padding: 15px;                
  text-align: center;             
  width: 60%;                    
  margin: 20px auto;               
  font-size: 16px;
}
.container {
  display: flex;             
  justify-content: center;    
  gap: 20px;                 
  margin-top: 20px;
  padding: 10px;
}

.div2 {
    background-color: lightyellow;  
  border: 2px solid palevioletred;    
  color: palevioletred;            
  padding: 15px;                           
  width: 60%;                    
  margin: 20px auto;               
  font-size: 16px;
}
.box2 {
      background-color: rgb(255, 226, 153);
  border: 2px solid palevioletred;        
  margin-left: 200px; 
  margin-right: 200px;
  padding: 20px 40px;
  text-align: center;
  font-weight: bold;
}
.container3 {
  display: flex;             
  justify-content: center;    
  gap: 20px;                 
  margin-top: 20px;
  padding: 10px;
}
.box0 {
  color: palevioletred;
   background-color:lightyellow;
  border: 2px solid palevioletred;      
  margin-left: 100px; 
  margin-right: 100px;
  padding: 10px 20px;
  padding-left: 10px;
  padding-right: 100px;
  text-align: center;
  font-weight: bold;
  border-radius: 100px;
}
